.btn{
    padding: 10px 8px;
    width: 50px;
    color: rgb(228, 228, 228);
    background: #323445;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.btn:hover{
    background:#393939;
    transition: 1s;
}

.btn-yellow{
    background: #c1d714;
    color: #fff;
}

.btn-red{
    background: crimson;
    color: #fff;
}

.btn-blue{
    background: rgb(42, 114, 208);
    color: #fff;
}

.btn-green{
    background: rgb(24, 220, 112);
    color: #fff;
}

.btn-orange{
    background: rgb(239, 124, 23);
    color: #fff;
}

.btn-black{
    background: rgb(40, 9, 0);
    color: #fff;
}

.button-big-space{
    margin: 0 80px;
}